<h1>Listing articles</h1>


<table>
  <tr>
    <th>Width:</th>
    <th>Height:</th>
    <th>Colour:</th>

  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>
</table>
