<h1>Listing patients</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.name %></td>
    </tr>
    <tr>
      <td><%= patient.status %></td>
    </tr>
  <% end %>
</table>
